body div {
  width: 100%;
  border: solid 4px;
  border-color: blue;
}

/* Viewports SM */

div {
  display: grid;
  grid-area: 1 / 2 / 3 / 2;
}

/* Viewports MD */

div {
  display: grid;
  grid-area: 1 / 3 / 2 / 3;
}

/* Viewports LG */

div {
  display: grid;
  grid-area: 1 / 4 / 2 / 2;
}

/* Viewports XL */

div {
  display: grid;
  grid-area: 1 / 6;
}
